@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

nav {
    display:grid;
    grid-template-rows: 10%;
    grid-template-columns: 15% 15% 15% 20% 20% 10%;
    background-color: aqua;
    justify-content: center;
    text-align: center;
    padding: 1%;
}

p {
    font-family: "Roboto Slab";
    color: #F89832;
}

a {
    color: aqua;
}

div{
    background-color: #1368be;
}

.top {
    font-family: "Seymour One";
    color: #F86932;
}

.detailsTop {
    font-family: "Seymour One";
}

.onAqua {
    color:#3297FE;
}

.navPhoto1 {
    width: auto;
    height: 100px;
}

.navPhoto2 {
    height: 100px;
    width: auto;
}

.homeGrid {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11%;
    justify-content: center;
    text-align: center;
    padding: 2%;
    gap: 2em;
}

.detailsGrid {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    text-align: center;
    padding: 2%;
    gap: .5em;
}

.daysGrid {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 2%;
    gap: .5em;
}

.daysImages {
    height: 70%;
    width: 50%;
    padding: 2%;
}

.classesGrid {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 30% 30%;
    justify-content: center;
    padding: 2%;
    gap: .5em;
}

.classImages {
    height: 90%;
    width: 60%;
    padding: 0%;
}

.activitiesGrid {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 2%;
    gap: .5em;
}

.activitiesImages {
    height: 90%;
    width: 60%;
    padding: 0%;
}

footer {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.footer {
    color:#3297FE;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdownD {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdownD a:hover {background-color: #ddd;}
  
.show {display: block;}