#content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto; 
}

nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #39A0ED;
}

header {
    background-color: #36F1CD;
}

nav a:hover {
    background-color: #28536B;
    color: #d9c2a3;
}

.book, .join {
    background-color: #E6AACE;
    color: #d9c2a3;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #E6AACE;
    color: #d9c2a3;
}

#background {
    background-color: #39A0ED;
}

.msg {
    background-color: #28536B;
}

footer {
    background-color: #36F1CD;
    color: #d9c2a3;
}

.home-title {
    color: #d9c2a3;
}

h4 {
    color: #d9c2a3;
}

.msg h2 {
    color: #d9c2a3;
}

.msg p {
    color: #d9c2a3;
}

footer a {
    color: #d9c2a3;
    text-decoration: none;
}

footer a:hover {
    color: #d9c2a3;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    