#content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto; 
}

nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #39A0ED;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #36F1CD;
}

nav a:hover {
    background-color: #28536B;
    color: #d9c2a3;
}

.book, .join {
    background-color: #E6AACE;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #E6AACE;
    color: black;
}

#background {
    background-color: #28536B;
}

.msg {
    background-color: #28536B;
    padding: 35px;
}

footer {
    background-color: #36F1CD;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #d9c2a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #d9c2a3;
}

.msg h2 {
    color: #d9c2a3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.msg p {
    color: #d9c2a3;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #d9c2a3;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
    color: black;
}    

footer p a:hover {
    text-decoration: underline;
}    

#logo_link {
    padding-top: 5px;
}  

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}